.searchBar-wrap {
  background-color: #f0f0f0;
  margin: 2.5rem auto 4rem auto;
  width: 350px;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.searchBar-wrap form {
  display: flex;
  align-items: center;
}

.searchBar-wrap input {
  background-color: #f0f0f0;
  outline: none;
  border: none;
}

.searchBar-wrap span {
  padding-right: 0.5rem;
  cursor: pointer;
}

.searchBar-wrap button {
  outline: none;
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  background-color: #0f52ba;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .searchBar-wrap {
    width: 250px;
  }
}

@media screen and (max-width: 320px) {
  .searchBar-wrap {
    width: fit-content;
  }
}
