@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&family=Rufina:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}
